body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    width:100%;
    position:relative;
}

.nav{
    background-color:rgb(13, 13, 89);
width: 100%;
height:auto;
}
h1{
    color:chartreuse;
   text-align: center;
   font-size: 4vw;
   margin-top: 0;
   padding:2vw 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.winner{
    width:33vw;
    height:auto;
    position:relative;
}
 h2{
    color:teal;   
    font-size: 3vw;
    text-align:center;
    padding-right:2vw;
}

.game-box{
    width:fit-content;
position:relative;
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-left: 3.75vw;

}
.contentbox{
margin-left:33vw;
margin-top: 10px;
position:relative;
}

.box{
   
    display: flex;
    align-items: center;
justify-content: center;
}
img {
    height:8vw;
    width:8vw;
    transform: rotate(-90deg);
}
.foot{
margin-left: 6vw;
height:40px;
width:fit-content;
} 
.score {
    display: flex;
    height: auto;
   width:16vw;
    justify-content: space-around;
    align-items: center;

}
.score p{
    font-size: 3vw;
    margin-bottom:0% ;
    font-weight: 500;

}
.players{
    width:20vw;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    margin-top:2px;
}
.players p{
    font-size: 2vw;
    font-weight: 500;
}
.user{
    opacity: 1;
    box-shadow:2px;
}
img:active{
    transform:scale(1);

 }
